.ProjectCont {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .sliderCont {
            margin: 50px;
        }
    }
}