body {
    background: linear-gradient(28deg, rgba(0, 0, 255, 1) 0%, rgba(238, 130, 238, 1) 100%);
    width: 100vw;
    height: 93.5vh;
  }
  
  
  form {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;
    align-items: center;
    background-color: white;
    border-radius: 10px;
  }
  
  h2 {
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .row input {
    justify-content: baseline;
  }
  
  .row {
    display: flex;
    width: 90%;
    gap: 50px;
    justify-content: flex-end;
  }
  
  input,select {
    height: 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    border: none;
  }
  
  label {
    width: 10%;
  }
  
  .regularRow input,select {
    flex: 1;
  }
  
  .inpCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
  }
  
  .inpCont input {
    height: 40px;
  
  }

.todo-app {
    padding: 40px;
}
.todo-title {
    margin: 0;
}
.delete-button {
    color: red;
    cursor: pointer;
}
.delete-button:hover {
    filter: brightness(0.8);
}
.shop-app {
    padding: 40px;
}