h2 {
    margin: 0;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: yellowgreen;
    padding: 30px;
    box-shadow: black 0px 1px 20px;

    ul {
        display: flex;
        list-style: none;
        gap: 30px;
        margin: 0;
        margin-right: 50px;

        li {
            color: black;
            cursor: pointer;
        }
    }
}